page-login { $padding: 8px;
 
h1{
  text-align: center;
};

h3{
  text-align: center;
};

input {
    font-size:18px !important;
    font-size-adjust: 0.3!important;
};

$label-text-color:black !important;

label{
  font-size:18px !important;
  font-size-adjust: 0.3!important;
  color: black;
};

.circle {
  background-color:white;
  left:50%;
  border-radius: 30%;
  width: 170px;
  height: 100px;
  overflow: hidden;
  position: relative;
  margin-left: -85px;
}

.circle img {
  position: absolute;
   bottom: 0;
  width: 100%;
};
}
