page-home {
    input {
        font-size:18px !important;
        font-size-adjust: 0.3!important;
        // text-align: center;
    };
     
h1{
    text-align: center;
  };
  
  h3{
    text-align: center;
  };
}
